<h1>Admin::Dashboard#show</h1>

<p class="h3">Product Count: <%= @products_count %></p>
<p class="h3">Category Count: <%= @categories_count %></p>
<a class="btn btn-info"  href="/admin/products">Your Products</a>
