<div class="text-center">
  <h1>About Us</h1>
  <p>I'm baby iPhone kogi leggings umami, heirloom stumptown 
  kale chips tbh asymmetrical locavore listicle blue bottle venmo 
  kinfolk pop-up. Keytar twee kale chips swag pickled activated charcoal 
  everyday carry ugh narwhal shaman austin prism hot chicken waistcoat tofu. 
  Plaid vice hammock poke jean shorts forage chambray lyft. 
  Chartreuse swag meggings occupy asymmetrical literally small batch 
  pour-over readymade lumbersexual.</p>
</div>